In [4]:
from google.colab import drive
drive.mount("/gdrive")

Mounted at /gdrive

In [0]:
import zipfile
f = zipfile.ZipFile("/gdrive/My Drive/additional/train.zip")
f.extractall()
f.close()

In [7]:
import glob
import pandas as pd
catf = glob.glob("train/cat.*")
catt = [0] * len(catf)
dogf = glob.glob("train/dog.*")
dogt = [1] * len(dogf)
df = pd.DataFrame({
    "path":catf + dogf,
    "ans":catt + dogt
})
df

                     path  ans
0      train/cat.7482.jpg    0
1      train/cat.5132.jpg    0
2      train/cat.3502.jpg    0
3       train/cat.251.jpg    0
4      train/cat.9148.jpg    0
...                   ...  ...
24995  train/dog.4757.jpg    1
24996  train/dog.9115.jpg    1
24997  train/dog.3008.jpg    1
24998  train/dog.6541.jpg    1
24999  train/dog.7507.jpg    1

[25000 rows x 2 columns]